<div class="w-full bg-white rounded-xl shadow-gray-400 p-6 mb-4">
  <div class="grid grid-cols-[50%_15%_1fr] gap-x-4">
    <div>
      <h3 class="font-semibold text-xl text-[#2FCB80]">{{request.procurementItem.title}} ({{request.quantity}} {{getShortenMeasurementUnit(request.measurementUnit)}})</h3>
      <p class="mt-2">{{request.subdivision.title}} ({{subdivisionAddress}})</p>
      <p class="mt-3">Категорія: <span class="underline">{{ request.procurementItem.categoryTitle }}</span></p>
      <p class="mt-3 italic text-[#A9A9A9]">{{request.description}}</p>
      <p class="mt-3">Бюджет: {{request.budget}} (грн.)</p>
    </div>
    <span [ngClass]="['h-fit', 'text-center', statusesColors[request.status]]">{{requestStatuses[request.status]}}</span>
    <div class="grid grid-flow-row grid-rows-[auto_1fr] gap-y-3">
      <p class="text-right italic text-[#A9A9A9] text-sm">Створена {{request.createdAt | date:'HH:mm:ss dd MMMM y':'uk-UA'}}</p>

      <div class="grid justify-center items-center" *ngIf="(user$ | async) as user">
        <div class="grid justify-center" *ngIf="user.subdivisionId === request?.subdivision?.id && request?.status === 'Active' && user.role === 'Заявник'">
          <app-button text="Редагувати" type="button" [classList]="['h-[45px]', 'w-[152px]']" (click)="openEditRequestDialog()"></app-button>
          <app-button text="Скасувати" type="button" [classList]="['mt-2', 'border', 'border-[#E74C3C]', 'h-[45px]', 'w-[152px]']" [colors]="['bg-transparent', 'text-[#E74C3C]']" (click)="cancelRequest()"></app-button>
        </div>
        <div *ngIf="request?.status === 'Active' && user.role === 'Замовник'">
          <app-button *ngIf="!(orderRequests$ | async)?.includes(request.id); else removeFromOrderBtn" text="Додати до замовлення" type="button" [classList]="['h-[45px]', 'w-[209px]']" (click)="addRequestToOrder()"></app-button>
          <ng-template #removeFromOrderBtn>
            <app-button text="Прибрати із замовлення" type="button" [classList]="['h-[45px]', 'w-[209px]', 'border', 'border-[#E74C3C]']" (click)="deleteRequestFromOrder()" [colors]="['bg-transparent', 'text-[#E74C3C]']"></app-button>
          </ng-template>
        </div>
      </div>

    </div>
  </div>
</div>
