<app-modal-container [size]="['w-auto', 'sm:w-[450px]', 'h-auto']" [title]="'Формування замовлення'" [showClose]="true">
  <div mat-dialog-content>
    <form class="w-full mt-3" [formGroup]="orderForm" (ngSubmit)="onSubmit()">
      <app-textarea label="Назва" [control]="getFormControl('title')"></app-textarea>
      <p class="mb-2">Адреса доставки/постачання <span class="text-red-600">*</span></p>
      <app-dropdown *ngIf="deliveryAddressExists" [control]="getFormControl('deliveryAddressId')" [displayPropFunc]="tranformAddress" [displayLabel]="false" [items]="(addresses$ | async)" errorMessage="Адреса доставки має бути обрана">
        <p class="text-sm italic">Не знайшли адресу у списку? <span class="underline text-[#2CA9D5] cursor-pointer" (click)="toggleDeliveryAddressExistence()">Натисність,</span> щоб додати нову</p>
      </app-dropdown>
      <div *ngIf="!deliveryAddressExists">
        <app-input label="Місто" [control]="getFormControl('city')"></app-input>
        <app-input label="Область" [control]="getFormControl('region')" [required]="false"></app-input>
        <app-input label="Вулиця" [control]="getFormControl('street')"></app-input>
        <app-input label="Номер будівлі" [control]="getFormControl('buildingNumber')" [required]="false"></app-input>
        <app-input label="Поштовий індекс" [control]="getFormControl('zipCode')"></app-input>
      </div>

      <p class="text-center italic"><span class="text-red-600">*</span> позначені обов'язкові поля</p>
      <p class="mt-2 text-center text-red-600 h-auto min-h-[20px] break-words">{{(error$ | async) ?? ''}}</p>
      <div class="flex justify-center">
        <app-button text="Сформувати" [disabled]="!orderForm.valid" type="submit"
          [classList]="['mt-3', 'h-[45px]', 'w-[155px]']"></app-button>
      </div>
    </form>
  </div>
</app-modal-container>


