<app-modal-container [size]="['w-auto', 'sm:w-[450px]', 'h-auto']" [title]="'Редагування заявки'" [showClose]="true">
  <div mat-dialog-content>
    <form class="w-full mt-3" [formGroup]="requestForm" (ngSubmit)="onSubmit()">
      <app-textarea label="Опис" [control]="getFormControl('description')"></app-textarea>
      <app-input label="Кількість" [control]="getFormControl('quantity')"></app-input>
      <app-input label="Бюджет (грн.)" [control]="getFormControl('budget')"></app-input>
      <p class="text-center italic"><span class="text-red-600">*</span> позначені обов'язкові поля</p>
      <p class="mt-2 text-center text-red-600 h-auto min-h-[20px] break-words">{{(error$ | async) ?? ''}}</p>
      <div class="flex justify-center">
        <app-button text="Зберегти" [disabled]="!requestForm.valid || !requestChanged" type="submit"
          [classList]="['mt-3', 'h-[45px]', 'w-[155px]']"></app-button>
      </div>
    </form>
  </div>
</app-modal-container>


