.mat-icon {
  scale: 2;
  color: #898E96 !important;
}

// .my-pagination /deep/ .ngx-pagination .current {
//   background: #5FCFF7 !important;
// }

::ng-deep .ngx-pagination .current {
  background-color: #5FCFF7 !important;
  border-radius: 4px;
}
