// ::ng-deep .mat-progress-spinner {
//   margin: 0 auto;
// }

// ::ng-deep .mat-progress-spinner circle, ::ng-deep .mat-spinner circle {
//   stroke: #FFF;
// }


.mat-progress-spinner {
  margin: 0 auto;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #FFF;
}

::ng-deep button:focus-visible {
  outline: none !important;
  border: none !important;
}
