<div class="mt-16">
  <app-dropdown label="Статус" [control]="getFormControl('status')" [displayProps]="['value']" [items]="requestStatuses" [optionValueProp]="'key'" [required]="false" [emitSelectionChangeEvent]="true" (onSelectionChange)="setRequestParamsStatus($event)" *ngIf="(user$ | async)?.role === Roles.Applicant">
  </app-dropdown>

  <app-dropdown label="Категорія" [control]="getFormControl('categoryTitle')" [displayProps]="['value']" [items]="(categories$ | async)"  [optionValueProp]="'key'" [required]="false" [emitSelectionChangeEvent]="true" (onSelectionChange)="setRequestParamsCategory($event)">
  </app-dropdown>

  <app-dropdown label="Назва предмету закупівлі" [control]="getFormControl('procurementItemTitle')" [displayProps]="['value']" [items]="(procurementItems$ | async)"  [optionValueProp]="'key'" [required]="false" [emitSelectionChangeEvent]="true" (onSelectionChange)="setRequestParamsProcurementItem($event)">
  </app-dropdown>
</div>
