<div class="flex flex-col justify-center gap-y-2">
  <ng-content></ng-content>
  <p *ngIf="proposalStatus && proposalStatusColor" [ngClass]="['xl:hidden', proposalStatusColor]">{{ proposalStatus }}</p>
  <p>{{ person.companyTitle }}</p>
  <p>Код ЄДРПОУ: {{ person.companyEdrpou }}</p>
  <p *ngIf="showCompanyAddress">Адреса: {{ tranformCompanyAddress(person.companyAddress) }}</p>
  <p *ngIf="shipmentAddress">Адреса відвантаження: {{ tranformCompanyAddress(shipmentAddress) }}</p>
  <p class="italic text-[#A9A9A9]" *ngIf="additionalInfo">{{ additionalInfo }}</p>
  <p *ngIf="price">Ціна: {{ price }} (грн.)</p>
  <p class="font-semibold text-[#2FCB80]">Контактна особа</p>
  <p>ПІБ: {{ getFullName(person) }}</p>
  <p>Пошта: {{ person.email }}</p>
</div>

