::ng-deep .mat-form-field {
  margin-top: 8px;
  height: 40px;
  width: 100%;
  &-wrapper, &-flex {
    height: 100%;
    padding: 0;
  }
  &-flex {
    padding-top: 8px !important;
    background-color: #FFFFFF !important;
  }
  &-infix {
    height: 100%;
    border: none;
  }
  &-underline {
    bottom: 0;
    display: none;
  }
}

::ng-deep .mat-error {
  margin-top: 4px;
  font-size: 14px;
  color: #DC2626;
  min-height: 20px;
}

::ng-deep .mat-select-arrow-wrapper {
  margin-top: 12px;
}
