<div class="w-full h-14 bg-[#5FCFF7] text-white text-base items-center px-4 sm:px-8 font-medium grid sm:grid-cols-[40%_1fr] grid-rows-[100%]">
  <div class="hidden sm:flex items-center justify-center h-full gap-x-6">
    <img class="max-h-[80%] object-cover" src="assets/images/logo.jpg" alt="logo">
    <p class="text-xl md:text-2xl font-medium uppercase">Перевага</p>
  </div>
  <div class="h-full grid grid-cols-[70%_1fr] md:grid-cols-[60%_1fr] lg:grid-cols-[50%_1fr]" *ngIf="(user$ | async) as user">
    <div class="flex justify-around md:justify-center md:gap-x-24 items-center">
      <a [routerLink]="['categories']" class="cursor-pointer" *ngIf="user.role === Roles.Administrator">Категорії</a>
      <a [routerLink]="['requests']" class="cursor-pointer" *ngIf="user.role === Roles.Applicant || user.role === Roles.Customer">Заявки</a>
      <a [routerLink]="['orders']" class="cursor-pointer">Замовлення</a>
    </div>
    <div class="flex justify-end sm:gap-x-12 items-center">
      <p class="hidden lg:block text-center 2xl:text-left cursor-default">{{user.lastName}} {{user.firstName}} {{user.middleName}}</p>
      <span class="cursor-pointer" (click)="logout()">Вийти</span>
    </div>
  </div>
</div>
