<div class="mb-2">

  <label for={{label}}>{{label}} <span class="text-red-600">{{required ? '*' : ''}}</span></label>

  <div class="relative">
    <input
    *ngIf="control"
    [ngClass]="classList.concat(['w-full', 'h-10', 'p-2', 'mt-2', 'rounded'])"
    [class.is-invalid]="control?.touched && control?.invalid"
    type={{type}}
    name={{label}}
    placeholder={{placeholder}}
    [formControl]="control"
    #inputEl>

  <input
    *ngIf="!control"
    [ngClass]="classList.concat(['w-full', 'h-10', 'p-2', 'mt-2', 'rounded'])"
    [class.is-invalid]="control?.touched && control?.invalid"
    type={{type}}
    name={{label}}
    placeholder={{placeholder}}
    [ngModel]="model"
    #inputEl>

    <mat-icon *ngIf="type === 'password' && !visible" (click)="toggleVisibility($event)">visibility</mat-icon>
    <mat-icon *ngIf="type === 'password' && visible" (click)="toggleVisibility($event)">visibility_off</mat-icon>
  </div>

  <div
    class="h-[20px] text-sm mt-1 text-red-600">
    {{getErrorMessage()}}
  </div>

  <!-- <div
    class="text-sm mt-1 text-red-600"
    *ngIf="control?.errors?.pattern && control?.touched && type !== 'password'">
    Формат введених даних є неправильним
  </div>

  <div
    class="text-sm mt-1 text-red-600"
    *ngIf="control?.errors?.pattern && control?.touched && type === 'password'">
    Слабкий пароль
  </div>

  <div
    class="text-sm mt-1 text-red-600"
    *ngIf="control?.errors?.minlength && control?.touched">
    {{label}} має бути мінімум {{control?.errors?.minlength['requiredLength']}} символів у довжину
  </div>

  <div
    class="text-sm mt-1 text-red-600"
    *ngIf="control?.errors?.maxlength && control?.touched">
    {{label}} має бути максимум {{control?.errors?.maxlength['requiredLength']}} символів у довжину
  </div> -->

</div>


