<div class="mb-3">

  <label for={{label}}>{{label}} <span class="text-red-600">{{required ? '*' : ''}}</span></label>

  <input
    *ngIf="control"
    [ngClass]="classList.concat(['w-full', 'h-10', 'p-2', 'mt-2', 'rounded'])"
    [class.is-invalid]="control?.touched && control?.invalid"
    type={{type}}
    name={{label}}
    placeholder={{placeholder}}
    [formControl]="control">

    <input
    *ngIf="!control"
    [ngClass]="classList.concat(['w-full', 'h-10', 'p-2', 'mt-2', 'rounded'])"
    [class.is-invalid]="control?.touched && control?.invalid"
    type={{type}}
    name={{label}}
    placeholder={{placeholder}}
    [ngModel]="model">

  <div
    class="text-sm mt-1 text-red-600"
    *ngIf="control?.errors?.required && control?.touched">
    Дане поле має бути заповнене
  </div>

  <div
    class="text-sm mt-1 text-red-600"
    *ngIf="control?.errors?.pattern && control?.touched && type !== 'password'">
    Формат введених даних є неправильним
  </div>

  <div
    class="text-sm mt-1 text-red-600"
    *ngIf="control?.errors?.pattern && control?.touched && type === 'password'">
    Слабкий пароль
  </div>

  <div
    class="text-sm mt-1 text-red-600"
    *ngIf="control?.errors?.minlength && control?.touched">
    {{label}} має бути мінімум {{control?.errors?.minlength['requiredLength']}} символів у довжину
  </div>

  <div
    class="text-sm mt-1 text-red-600"
    *ngIf="control?.errors?.maxlength && control?.touched">
    {{label}} має бути максимум {{control?.errors?.maxlength['requiredLength']}} символів у довжину
  </div>

</div>


