<div class="h-full w-full flex justify-center relative">
  <div class="flex flex-col justify-center items-center" *ngIf="!(loading$ | async) && orders">
    <div class="flex flex-col items-center" *ngIf="orders.length === 0">
      <mat-icon>content_paste_search</mat-icon>
      <span class="mt-3 text-[#898E96] font-semibold">Замовлень немає</span>
    </div>
  </div>
  <div *ngIf="pagination && orders?.length > 0 && orders" class="w-full">
    <app-orders-list-item *ngFor="let order of orders | paginate: { id: 'orders', itemsPerPage: this.pagination.itemsPerPage, currentPage: this.pagination.currentPage, totalItems: this.pagination.totalItems}" [order]="order"></app-orders-list-item>

    <div class="flex justify-center">
      <pagination-controls class="order-pagination" id="orders" previousLabel="Попередня" nextLabel="Наступна" (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
  </div>
  <div class="fixed inset-x-[60%] inset-y-[45%]" *ngIf="(loading$ | async) || !orders">
    <mat-spinner diameter="70"></mat-spinner>
  </div>
</div>

