<div class="container relative">
  <div class="w-4/5 bg-white rounded-xl shadow-gray-400 p-6 mx-auto mt-10" *ngIf="(order$ | async) as order">
    <h3 class="font-semibold text-2xl text-[#2FCB80]">{{ order.title }}</h3>
    <div class="mt-4 grid grid-cols-2 gap-x-12 text-base">
      <div class="grid grid-rows-[auto_1fr]">
        <p class="italic text-[#A9A9A9] text-base">
          Дата створення: {{ order.createdAt | date:'HH:mm:ss dd MMMM y':'uk-UA' }}
        </p>
        <div class="flex flex-col justify-center gap-y-4">
          <p>Номер замовлення: {{ order.id }}</p>
          <p>Статус: {{ orderStatuses[order.status] }}</p>
          <p>Бюджет: {{ order.budget }} (грн.)</p>
          <p class="font-semibold text-[#2FCB80]">Адреса доставки</p>
          <p>{{ tranformCompanyAddress(order.deliveryAddress) }}</p>
        </div>
      </div>

      <div class="flex flex-col justify-center gap-y-4">
        <p class="font-semibold text-[#2FCB80]">Інформація про замовника</p>
        <p>{{ order.buyerContactPerson.companyName }}</p>
        <p>Код ЄДРПОУ: {{ order.buyerContactPerson.companyEdrpou }}</p>
        <p>Адреса: {{ tranformCompanyAddress(order.buyerContactPerson.companyAddress) }}</p>
        <p class="font-semibold text-[#2FCB80]">Контактна особа</p>
        <p>ПІБ: {{ getFullName(order.buyerContactPerson) }}</p>
        <p>Пошта: {{ order.buyerContactPerson.email }}</p>
      </div>
    </div>
    <div class="mt-6">
      <h3 class="font-semibold text-xl text-[#2FCB80]">Заявки</h3>
      <div class="mt-3 flex flex-col justify-center gap-y-2 border border-[#2FCB80] rounded-lg p-3" *ngFor="let request of order.requests; let i = index">
        <p>{{ i+1 }}. {{ request.description }}</p>
        <p>{{ request.subdivisionTitle }}</p>
        <p>Предмет закупівлі: {{ request.procurementItemTitle }}</p>
        <p *ngIf="request.quantity && request.measurementUnit">Кількість: {{ request.quantity }} {{getShortenMeasurementUnit(request.measurementUnit)}}</p>
      </div>
    </div>
    <div class="mt-6">
      <h3 class="font-semibold text-xl text-[#2FCB80]">Пропозиції</h3>
      <p class="mt-4" *ngIf="order.proposals.length === 0">Пропозицій немає</p>
      <div class="mt-4" *ngIf="user && user?.role === 'Постачальник' && !anyProposals(order) && order.status === 'Active'">
        <app-button text="Подати пропозицію" type="button" [classList]="['border', 'border-[#2FCB80]', 'h-[45px]', 'w-auto']" [colors]="['bg-transparent', 'text-[#2FCB80]']" (click)="openSubmitProposalDialog()"></app-button>
        <!-- <app-button text="Подати пропозицію" type="button" [classList]="['h-[45px]', 'w-auto']" [colors]="['bg-[#2FCB80]', 'text-white']" (click)="openSubmitProposalDialog()"></app-button> -->
      </div>

      <div class="mt-3" *ngFor="let proposal of order.proposals; let i = index">
        <div class="grid grid-cols-2 gap-x-4 text-base">
          <div class="flex flex-col justify-center gap-y-2 border border-[#2FCB80] rounded-lg p-3 relative">
            <!-- <p>{{ i+1 }}. Постачальник: {{ proposal.supplierContactPerson.companyName }}</p> -->
            <p>{{ i+1 }}. <span class="font-semibold text-[#2FCB80]">Інформація про постачальника</span></p>
            <p>{{ proposal.supplierContactPerson.companyName }}</p>
            <p>Код ЄДРПОУ: {{ proposal.supplierContactPerson.companyEdrpou }}</p>
            <p>Адреса відвантаження: {{ tranformCompanyAddress(proposal.shipmentAddress) }}</p>
            <p class="italic text-[#A9A9A9]">{{ proposal.supplierAdditionalInfo }}</p>
            <p>Ціна: {{ proposal.supplierPrice }} (грн.)</p>
            <p class="font-semibold text-[#2FCB80]">Контактна особа</p>
            <p>ПІБ: {{ getFullName(proposal.supplierContactPerson) }}</p>
            <p>Пошта: {{ proposal.supplierContactPerson.email }}</p>
            <p [ngClass]="['absolute', 'right-3', 'top-3', statusesColors[proposal.status]]">{{ proposalStatuses[proposal.status] }}</p>
            <app-button *ngIf="user?.id === proposal.supplierContactPerson.id && proposal.status === 'Active'" text="Скасувати" type="button" [classList]="['absolute', 'bottom-5', 'right-3', 'border', 'border-[#E74C3C]', 'h-[45px]', 'w-[152px]']" [colors]="['bg-transparent', 'text-[#E74C3C]']" (click)="cancelProposal(proposal.id)"></app-button>
          </div>
          <div class="flex flex-col justify-center gap-y-2 border border-[#2FCB80] rounded-lg p-3" *ngIf="proposal.transporterContactPerson">
            <p>Перевізник: {{ proposal.transporterContactPerson.companyName }}</p>
            <p>Код ЄДРПОУ: {{ proposal.transporterContactPerson.companyEdrpou }}</p>
            <p>Ціна: {{ proposal.transporterSum }} (грн.)</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="absolute inset-x-[49%] inset-y-[45%]" *ngIf="(loading$ | async)">
    <mat-spinner diameter="70"></mat-spinner>
  </div>
</div>



