<div class="container relative">
  <div class="w-4/5 bg-white rounded-xl shadow-gray-400 p-6 mx-auto mt-10" *ngIf="(order$ | async) as order">
    <h3 class="font-semibold text-2xl text-[#2FCB80]">{{ order.title }}</h3>
    <p class="mt-2 italic text-[#A9A9A9] text-base">
      Дата створення: {{ order.createdAt | date:'HH:mm:ss dd MMMM y':'uk-UA' }}
    </p>
    <div class="mt-4 grid grid-cols-2 gap-x-12 text-base">
      <div class="flex flex-col justify-center gap-y-2">
        <p>Номер замовлення: {{ order.id }}</p>
        <p>Статус: {{ OrderStatuses[order.status] }}</p>
        <p>Бюджет: {{ order.budget }} (грн.)</p>
        <div class="flex flex-col justify-center gap-y-2" *ngIf="OrderStatuses[order.status] === OrderStatuses.Processed">
          <p>Ціна від постачальника: {{ order.supplierPrice }} (грн.)</p>
          <p *ngIf="isCategoryTypeGoods(order)">Ціна від перевізника: {{ order.transporterSum }} (грн.)</p>
          <p *ngIf="isCategoryTypeGoods(order)">Сума: {{ order.supplierPrice + order.transporterSum }} (грн.)</p>
        </div>
        <p class="font-semibold text-[#2FCB80]">Адреса доставки/постачання</p>
        <p>{{ tranformCompanyAddress(order.deliveryAddress) }}</p>
        <div class="flex flex-col justify-center gap-y-2" *ngIf="OrderStatuses[order.status] === OrderStatuses.Processed && isCategoryTypeGoods(order)">
          <p class="font-semibold text-[#2FCB80]" >Адреса відвантаження</p>
          <p>{{ tranformCompanyAddress(order.shipmentAddress) }}</p>
        </div>
      </div>

      <app-order-info [person]="order.buyerContactPerson" [getFullName]="getFullName" [tranformCompanyAddress]="tranformCompanyAddress" [showCompanyAddress]="true">
        <p class="font-semibold text-[#2FCB80]">Інформація про замовника</p>
      </app-order-info>
    </div>
    <div class="mt-6">
      <h3 class="font-semibold text-xl text-[#2FCB80]">Заявки</h3>
      <div class="mt-3 flex flex-col justify-center gap-y-2 border border-[#2FCB80] rounded-lg p-3" *ngFor="let request of order.requests; let i = index">
        <p>{{ i+1 }}. {{ request.description }}</p>
        <p>{{ request.subdivisionTitle }}</p>
        <p>Предмет закупівлі: {{ request.procurementItemTitle }}</p>
        <p *ngIf="request.quantity && request.measurementUnit">Кількість: {{ request.quantity }} {{getShortenMeasurementUnit(request.measurementUnit)}}</p>
      </div>
    </div>

    <div class="mt-6" *ngIf="OrderStatuses[order.status] === OrderStatuses.Processed; else proposals">
      <div class="grid grid-cols-2 gap-x-12">
        <app-order-info [person]="order.supplierContactPerson" [getFullName]="getFullName" [tranformCompanyAddress]="tranformCompanyAddress" [showCompanyAddress]="true">
          <p class="font-semibold text-[#2FCB80]">Інформація про постачальника</p>
        </app-order-info>

        <app-order-info *ngIf="order.transporterContactPerson" [person]="order.transporterContactPerson" [getFullName]="getFullName" [tranformCompanyAddress]="tranformCompanyAddress" [showCompanyAddress]="true">
          <p class="font-semibold text-[#2FCB80]">Інформація про перевізника</p>
        </app-order-info>
      </div>
    </div>

    <ng-template #proposals>
      <div class="mt-6">
        <h3 class="font-semibold text-xl text-[#2FCB80]">Пропозиції</h3>
        <p class="mt-4" *ngIf="order.proposals.length === 0">Пропозицій немає</p>
        <div class="mt-4" *ngIf="user && user.role === Roles.Supplier && !anySupplierProposals(order) && OrderStatuses[order.status] === OrderStatuses.Active">
          <app-button text="Подати пропозицію" type="button" [classList]="['border', 'border-[#2FCB80]', 'h-[45px]', 'w-auto']" [colors]="['bg-transparent', 'text-[#2FCB80]']" (click)="openSubmitProposalDialog(order.categoryType)"></app-button>
        </div>

        <div class="mt-3" *ngFor="let proposal of order.proposals; let i = index">
          <div class="grid gap-x-4 text-base" [ngClass]="{'grid-cols-[40%_40%_1fr]': user?.role === Roles.Customer && isCategoryTypeGoods(order), 'grid-cols-[50%_15%] gap-x-8': user?.role === Roles.Customer && !isCategoryTypeGoods(order), 'grid-cols-2': user?.role !== Roles.Customer}">
            <div class="flex flex-col justify-center gap-y-2 border border-[#2FCB80] rounded-lg p-3 relative">

              <app-order-info [person]="proposal.supplierContactPerson" [getFullName]="getFullName" [tranformCompanyAddress]="tranformCompanyAddress" [shipmentAddress]="proposal.shipmentAddress" [additionalInfo]="proposal.supplierAdditionalInfo" [price]="showProposalPrice(order, proposal, true) ? proposal.supplierPrice : null">
                <p>{{ i+1 }}. <span class="font-semibold text-[#2FCB80]">Інформація про постачальника</span></p>
              </app-order-info>

              <p [ngClass]="['absolute', 'right-3', 'top-3', StatusesColors[proposal.status]]">{{ ProposalStatuses[proposal.status] }}</p>
              <div class="absolute bottom-5 right-5 grid grid-flow-row gap-y-4 min-w-[175px]">
                <app-button *ngIf="(user?.role === Roles.Transporter || proposal.supplierContactPerson.id === user?.id) && isProposalStatusActive(proposal) && !anyTransporterProposals(order, proposal.supplierContactPerson.companyId) && isCategoryTypeGoods(order)" text="Подати пропозицію" type="button" [classList]="['border', 'border-[#2FCB80]', 'h-[45px]', 'w-full']" [colors]="['bg-transparent', 'text-[#2FCB80]']" (click)="openSubmitProposalDialog(order.categoryType, proposal.id)"></app-button>

                <app-button *ngIf="user?.id === proposal.supplierContactPerson.id && isProposalStatusActive(proposal)" text="Скасувати" type="button" [classList]="['border', 'border-[#E74C3C]', 'h-[45px]', 'w-full']" [colors]="['bg-transparent', 'text-[#E74C3C]']" (click)="cancelProposal(proposal.id)"></app-button>
              </div>
            </div>

            <div class="flex flex-col gap-y-2 border border-[#2FCB80] rounded-lg p-3 relative" *ngIf="proposal.transporterContactPerson && isCategoryTypeGoods(order)">

              <app-order-info [person]="proposal.transporterContactPerson" [getFullName]="getFullName" [tranformCompanyAddress]="tranformCompanyAddress" [additionalInfo]="proposal.transporterAdditionalInfo" [price]="showProposalPrice(order, proposal, false) ? proposal.transporterSum : null">
                <p class="font-semibold text-[#2FCB80]">Інформація про перевізника</p>
              </app-order-info>

              <app-button *ngIf="user?.id === proposal.transporterContactPerson.id && isProposalStatusActive(proposal)" text="Скасувати" type="button" [classList]="['absolute', 'bottom-5', 'right-5', 'border', 'border-[#E74C3C]', 'h-[45px]', 'min-w-[175px]']" [colors]="['bg-transparent', 'text-[#E74C3C]']" (click)="cancelProposal(proposal.id, proposal.transporterContactPerson.id === user?.id ? true : false)"></app-button>
            </div>

            <div *ngIf="user?.role === Roles.Customer && isProposalStatusActive(proposal) && (proposal.transporterContactPerson || (proposal.supplierContactPerson && !isCategoryTypeGoods(order)))" class="flex flex-col items-center justify-center gap-y-4">
              <p>Загальна сума: <br>{{ getProposalTotalSum(proposal) }} (грн.)</p>
              <app-button text="Обрати пропозицію" type="button" [classList]="['h-[45px]', 'w-auto']" (click)="chooseProposal(proposal.id)"></app-button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <div class="fixed inset-x-[49%] inset-y-[45%]" *ngIf="(loading$ | async)">
    <mat-spinner diameter="70"></mat-spinner>
  </div>
</div>



