<app-modal-container [size]="['w-auto', 'sm:w-[450px]', 'h-auto']" [title]="'Подання пропозиції'" [showClose]="true">
  <div mat-dialog-content>
    <form class="w-full mt-3" [formGroup]="proposalForm" (ngSubmit)="onSubmit()">
      <div *ngIf="data.userRole === Roles.Supplier && !data.proposalId && CategoryTypes[data.orderCategoryType] === CategoryTypes.Goods">
        <p class="mb-2">Адреса відвантаження <span class="text-red-600">*</span></p>
        <app-dropdown *ngIf="shipmentAddressExists" [control]="getFormControl('shipmentAddressId')" [displayPropFunc]="tranformAddress" [displayLabel]="false" [items]="(addresses$ | async)" errorMessage="Адреса відвантаження має бути обрана">
          <p class="text-sm italic">Не знайшли адресу у списку? <span class="underline text-[#2CA9D5] cursor-pointer" (click)="toggleShipmentAddressExistence()">Натисність,</span> щоб додати нову</p>
        </app-dropdown>
        <div *ngIf="!shipmentAddressExists">
          <app-input label="Місто" [control]="getFormControl('city')"></app-input>
          <app-input label="Область" [control]="getFormControl('region')" [required]="false"></app-input>
          <app-input label="Вулиця" [control]="getFormControl('street')"></app-input>
          <app-input label="Номер будівлі" [control]="getFormControl('buildingNumber')" [required]="false"></app-input>
          <app-input label="Поштовий індекс" [control]="getFormControl('zipCode')"></app-input>
        </div>
      </div>

      <app-textarea label="Додаткова інформація" [control]="getFormControl('additionalInfo')" [required]="false"></app-textarea>
      <app-input [label]="label" [control]="getFormControl('price')"></app-input>

      <p class="text-center italic"><span class="text-red-600">*</span> позначені обов'язкові поля</p>
      <p class="mt-2 text-center text-red-600 h-auto min-h-[20px] break-words">{{(error$ | async) ?? ''}}</p>
      <div class="flex justify-center">
        <app-button text="Подати" [disabled]="!proposalForm.valid" type="submit"
          [classList]="['mt-3', 'h-[45px]', 'w-[155px]']"></app-button>
      </div>
    </form>
  </div>
</app-modal-container>



